*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.hero 
{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav
{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu-img
{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo
{
    width: 160px;
    cursor: pointer;
}
nav ul
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a 
{
    text-decoration: none;
    color: #fff;
}
.lamp-container
{
    position: absolute;
    top: 0px;
    left: 18%;
    width: 310px;
    height: 310px;
}
.lamp
{
    width: 100%;
}
.light
{
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%);
    height: 500px;
    width: 1030px;
    margin-top:  -25px;
    margin-left: -18px;
    opacity: 0;
    transition: opacity 0.5s;
    
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(250, 248, 248);
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active 
{
    background: rgb(245, 241, 241);
    color: #0f0f0f;
}
.lungs
{
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%);
    height: 500px;
    width: 750px;
    margin-top:  -30px;
    margin-left: -18px;
    opacity: 0;
    transition: opacity 0.5s;
}
button
{
    background: #efefef;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span
{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}
.active
{
    background:#00986f;

}
.active span
{
    background: #fff;
    margin-left: 31px;
}
.on 
{
    opacity: 1;
}
.on1
{
    opacity: 0.4;
}